body{
	font-family:'Work Sans', sans-serif;
	background-color: #EFEDE1;
}
h1 {
	text-transform: uppercase;
	font-size: 40px;
	color: #000000;
	font-weight: 900;
}

h2 {
	text-transform: uppercase;
	font-size: 32px;
	color: #717171;
	font-weight: 500;
}

h3 {
	text-transform: uppercase;
	font-size: 24px;
	color: #000000;
	font-weight: 500;
}
p {
	text-transform: uppercase;
	font-size: 16px;
	color: #717171;
	font-weight: 500;
}

.navbar-header, .navbar-collapse, .container-fluid {
	background-color: #EFEDE1;
}

.navbar-default, .navbar-collapse {
	    border-radius: 0 0 0 0 !important; 
		box-shadow: none !important;
		border-color: #EFEDE1 !important;
}

.home-link{
	color:#000000 !important;
	font-weight: 900;
	text-decoration: none;
}
.home-text{
	text-align: center;
	padding-top: 80px;
}

.nav-button:hover, .nav-button:active, .nav-button:focus{
	color: #000000;
}

.choose-form{
	font-weight: 700;
}

.email-list-box{
	margin-top: 40px;
	border: 3px;
	border-color: #000000;
	border-style: solid;
	padding: 20px;

}

.email-list{
	color: #717171;
	font-weight: 500;
	font-size: 16px;
}

.email-type-link{
	color: #717171;
	text-decoration: underline;
}

.email-type-link:active, .email-type-link:hover, .email-type-link:focus{
	color: #000000;
}

.btn-group{
	display: block;
	width: 100%;
	text-align: center;

}
.btn-default{
	display: inline-block;
	color: #000000;
	text-decoration: none;
	border-color:#000000;
	border-width: 2px;
	border-radius: 0px;
	background-color: #EFEDE1;
	background-image: none;
	text-shadow: 0;
	font-weight: 600;
	margin: 70px auto;
}

.btn-group>.btn:first-child {
	margin-left: auto;
	float: none;
}

.btn-default:hover{
	background-color: #000000;
	color: #EFEDE1; 
	border-color: #000000;
	text-shadow: 0 0 0;
}

.btn-default:active{
	background-color: #000000;
	color: #EFEDE1; 
	border-color: #000000;
	text-shadow: 0 0 0;
	outline: none;
}

.btn-default:focus{
	background-color: #000000 !important;
	color: #EFEDE1 !important; 
	border-color: #000000 !important;
	text-shadow: 0 0 0 !important;
	outline: none !important;
}

.my-button:hover{
	text-decoration: none;
	color: #EFEDE1;
}


.btn-lg{
	text-transform: uppercase;
	font-size: 28px;
}

.choose-form {
  display: block;
  margin-top: 20px;
}

.question-heading{
	padding-top: 80px;
	text-align: center;
}

.question-block{
	padding-top: 80px;
}

.row {
margin-left: 10px;
}

.question-title{
	font-size: 24px;
	color: #000000;
	font-weight: 700;
}
.input-group{
	padding-top: 20px;
	padding-bottom: 15px;
}

.question-text{
	display: inline;
	margin-left: 10px;
	font-size: 20px;
	color: #717171;
	text-transform: uppercase;
	font-weight: 500;
}

.template-heading{
	text-align: center;
}

.template-box{
	margin-top: 40px;
	height: auto;
	width: auto;
	border: 3px;
	border-color: #000000;
	border-style: solid;
	padding: 20px;
}

.template-text{
	text-transform: none;
}

.copied-box {
  background: #000000;
  text-align: center;
  position: absolute;
  padding-top: 5px;
  width: 200px;
  height: 50px;
  color: #EFEDE1;
  text-transform: uppercase;
  position: absolute;
  left: 100%;
  margin-left: 15px;
  font-weight: 500;
  opacity: 1;
  transition: 200ms opacity linear;
}

.copied-box::after {
  height: 0;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -10px;
  border: solid transparent;
  border-right-color: #000000;
  border-width: 10px;
}

.copied-box-hidden{
	opacity: 0;
}

.about-container{
	margin-top: 40px;
}
.about-title{
	font-size: 34px;
}

.about-text{
	font-size: 20px;
}

.about-button{
	margin-top:0;
}

.email-link{
	color: #000000;
}

.email-link:hover, .email-link:active, .email-link:focus, .email-link:visited{
	color: #000000;
}

.copy-paste {
	position: absolute;
	top: -100%;
	left: -100%;
}

.footer{
	display: block;
}

.footer-text{
	font-size: 12px;
	text-align: center;
	padding-bottom: 15px;
	position: relative;
}

.footer-link, .footer-link:active, .footer-link:focus, .footer-link:visited{
	color: #000000;
}